<header class="position-absolute w-100">
  <app-header></app-header>
</header>
<main class="container h-100">

  <div class="row h-100">
    <div class="wrapper my-auto col-6 offset-3">
      <div class="form-wrapper border pl-5 pr-5 pt-4 pb-4 rounded">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="form-group">
            <label for="user">Benutzername</label>
            <input type="text" id="user" class="form-control" name="user" required ngModel>
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" class="form-control" name="password" password required ngModel>
          </div>
          <div *ngIf="!isLoginMode">
            <div class="form-group">
              <label for="email_address1">E-Mail</label>
              <input type="text" id="email_address1" class="form-control" name="email_address1" required
                     ngModel>
            </div>
            <div class="form-group">
              <label for="email_address2">E-Mail Wiederholung</label>
              <input type="text" id="email_address2" class="form-control" name="email_address2" required
                     ngModel>
            </div>
          </div>

          <div class="d-flex align-items-center mt-4">
            <button class="btn btn-primary"
                    [disabled]="!authForm.valid">{{ isLoginMode ? 'Einloggen' : 'Registrieren' }}</button>
            <div *ngIf="!isLoginMode" class="ml-3">
              <a routerLink="/" (click)="toggleAuth()">Zurück zum Login</a>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="isLoginMode">
        <div class="border  pl-5 pr-5 pt-4 pb-4 rounded mt-4">
          <span>Noch kein Konto? <a routerLink="/registration" (click)="toggleAuth()">Erstelle eines.</a></span>
        </div>
      </div>

    </div>
  </div>
</main>
