<div class="row">
  <div
    id="wrapper"
    class="col-12 position-relative">
    <div id="articles-list-wrapper">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let article of articles;">
          {{ article }}
        </li>
      </ul>
    </div>
    <div
      id="add-article"
      class="mt-5"
      *ngIf="router.url !== '/articles/add'">
      <button
        class="btn btn-primary"
        (click)="showEditor()">Add article
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
